.react-flow__controls {
  bottom: 50%;
  border-radius: 10px;
}

.react-flow__controls-button {
  height: 40px;
  width: 40px;
}

.react-flow__controls-button svg {
  width: 100%;
  max-height: 40px;
  max-width: 40px;
}
