.btn-add {
  position: absolute;
  z-index: 10;
  top: -90%;
  left: 10px;
}

.btn-remove {
  position: absolute;
  z-index: 10;
  top: -10%;
  left: 10px;
}

.btn-submit {
  position: absolute;
  z-index: 10;
  top: -50%;
  left: 10px;
}