.btn-add {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
}

.btn-remove {
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 10px;
}

.btn-submit {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 10px;
}